.cta {
  background: #9C9A81;
  color: white;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo venstre, buttons høre*/
}

.cta-logo{
width: 60px; /* Størrelse justeres */
height: auto;
display: block;
}

.cta-buttons{
margin: 0 auto;
margin-top: 10;
display: flex;
gap: 30px;
justify-content: flex-end;
}

.cta button {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  background: #f4c430;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
}

.cta button:hover {
  background: #e0b420;
}