/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container{
    display: flex;
    justify-content: center;
}
.logo{
    height: 80px;
}

.logo-text{
    text-align: left;
    align-self: center;
}

.hero {
    background: #f4c430;
    color: #222;
    text-align: center;
    padding: 7px;;
}

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height:25px;
}

.menu {
    justify-content: center;
    margin-bottom:5px;
    margin-top:15px;
    display: flex;
    flex: 1;
    gap: 20px;
}

.menu button {
    width: 100px;
    background-color: transparent;
    color: #000;
    border-radius: 8px;
    border: 2px solid #000;
    height: 30px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #000;
    color: #f4c430;
    box-shadow: 0 11px 34px rgba(0,0,0 .65);
}

.top-section {
    background-color: #f4c430;
    padding: 15px;
}