/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
}

.logo-text {
    text-align: left;
    align-self: center;
}

.logo-link{
grid-column: 2;
grid-row: 1;
text-decoration: none;
color: inherit;
justify-self: center;
}

.register-link{
grid-column: 3;
grid-row: 3;
justify-self: end;
align-self: end;

color: #000;
text-decoration: underline;
font-weight: 300;
font-family: Helvetica, sans-serif;
}

.hero {
    display: grid;
    background: #f4c430;
    padding: 20px;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto 24px;
    align-items: center;
    row-gap: 10px;
        }

.hero h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    line-height: 25px;
}

.menu {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;

    display: flex;
    gap: 20px;
}

.menu button {
    width: 100px;
    background-color: transparent;
    color: #000;
    border-radius: 8px;
    border: 2px solid #000;
    height: 30px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #000;
    color: #f4c430;
    box-shadow: 0 11px 34px rgba(0, 0, 0 .65);
}

.top-section {
    background-color: #f4c430;
    padding: 15px;
}