h1{
  text-align:center;
  font-family: 'Poppins', sans-serif;
}

body{
   font-family: 'Arial', sans-seif;
   background-color: #f9f9f9;
}

.menu {
    text-align: right;
}

.menu button {
    background-color: transparent;
    color: #000;
    border-radius: 8px;
    border: 2px solid #000;
    height: 30px;
    cursor: pointer;
}

.menu button:hover {
    background-color: #000;
    color: #f4c430;
    box-shadow: 0 11px 34px rgba(0,0,0 .65);
}

.top-section {
     background-color: #f4c430;
     padding: 15px;
}

.button-section {
    background-image:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("mad billede.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 400px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: white;

    text-align: center;
}

.button-section a {
    color: yellow;
    text-decoration: none;
}

.bottom-text a {
    display: inline-block;        /* gør dem større */
    background-color: #f4c430;    /* grøn baggrund */
    color: #000;
    padding: 10px 15px;
    margin: 8px 8px 0 0;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.bottom-text a:hover {
    background-color: #d4a81f;
    transform: scale(1.05);       /* lille hover effekt */
}