/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

/* Venstre sidebar */
.left-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4c430;
    color: black;
}

.sidebar-title {
    font-size: 2rem;
}

/* Højre sidebar */
.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
    gap: 10px;
    background-color: #f4f4f4;
}

/* Form wrapper */
.form-wrapper {
    width: 100%;
}

/* Formular */
.login-form, .register-form {
    background: white;
    padding: 40px;
    border-radius: 34px;
    box-shadow: 0 11px 34px rgba(0, 0, 0, .65);

    display: flex;
    flex-direction: column;
    gap: 22px;
}

/* Formular titel */
.form-title {
    font-size: 1.8rem;
}

/* Fornavn og efternavn input ved siden af hinanden */
.name-wrapper {
    display: flex;
    gap: 10px;
}

/* Input felterne */
.form-group {
    position: relative;
    flex: 1;
}

.form-group input {
    width: 100%;
    height: 56px;
    padding: 20px 16px 6px;

    border: 1px solid rgb(110, 110, 115);
    border-radius: 12px;

    font-size: 17px;

    background: rgba(255, 255, 255, 0.04);

}

/* Input labels inde i input felterne */
.form-group label {
    position: absolute;
    left: 16px;
    top: 18px;

    font-size: 17px;
    pointer-events: none;
    transition: .15s ease;

    color: #888;
}

/* Label bevæger sig over curser ved focus i input feltet */
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: 8px;
    font-size: 12px;
}

/* Knapper */
.form-actions {
    display: flex;
    gap: 10px;
}

.btn {
    flex: 1;
    height: 40px;
    border-radius: 8px;

    font-size: 14px;

    cursor: pointer;
}

/* Annuller knap */
#btn-cancel {
    background: transparent;
    border: 1px solid #fe3b31;
    color: #fe3b31;
    transition: 0.2s;
}

#btn-cancel:hover {
    background: #fe3b31;
    color: white;
}

/* Submit knap */
#btn-submit {
    background: #f4c430;
    border: none;
    color: black;
}