* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background: #f9f9f9;
}

.hero {
background: #f4c430;
color: #222;
text-align: center;
padding: 50px 20px;
}

.hero h1 {
font-family: 'Poppins', sans-serif;
font-size: 3rem;
margin-bottom: -5px;
}

.hero p {
font-size: 1.5rem;
font-weight: bold;
}

.tips-section {
background-image: url("Madspilds billed (Tips & tricks).png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 60px 10%;
}

.tips-section h2 {
text-align: center;
font-size: 2rem;
}

.grid {
padding: 35px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 25px;
}

.card {
background: white;
padding: 25px;
border-radius: 35px;
box-shadow: 0 5px 15px rgba(0,0,0,0.65);
transition: 0.15s ease;
    cursor: pointer;
}

.card:hover {
transform: translateY(-8px);
box-shadow: 0 10px 25px rgba(0,0,0,0.65);
}

.card h3 {
margin-bottom: 10px;
}

.cta {
background: #222;
color: white;
text-align: center;
padding: 60px 20px;
}

.cta button {
margin-top: 20px;
padding: 15px 30px;
font-size: 1rem;
border: none;
background: #f4c430;
cursor: pointer;
border-radius: 8px;
transition: 0.3s ease;
}

.cta button:hover {
background: #e0b420;
}